/* Global Variables */
:root {
  --primary-bg-color: #111;
  --secondary-bg-color: #fefefe;
  --text-color-light: #eee;
  --text-color-dark: #111;
  --accent-color: #ff9900;
  --link-color: #0099cc;
  --hover-color: #005577;
  --border-color: #ccc;
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;
  --heading-font-size: 2rem;
  --small-heading-font-size: 1.5rem;
  --padding: 1rem;
}

/* General Layout */
body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-bg-color);
  color: var(--text-color-dark);
}

header,
footer {
  background: var(--primary-bg-color);
  color: var(--text-color-light);
  padding: var(--padding);
  text-align: center;
}

/* Navigation Menu */
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menuBtn {
  display: block;
  background: none;
  color: var(--text-color-light);
  font-size: 2rem;
  border: none;
}

#navMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

#navMenu.show {
  display: flex;
  flex-direction: column;
}

#navMenu li {
  margin: 0.5rem 0;
}

#navMenu a {
  color: var(--text-color-light);
  text-decoration: none;
}

#navMenu a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

/* Main Content */
main {
  max-width: 900px;
  margin: auto;
  padding: var(--padding);
}

h1 {
  font-size: var(--heading-font-size);
}

h2 {
  font-size: var(--small-heading-font-size);
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

figure {
  text-align: center;
  background-color: var(--secondary-bg-color);
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

/* Dark Mode */
.dark-mode {
  background-color: var(--primary-bg-color);
  color: var(--text-color-light);
}

/* Footer */
footer {
  padding: var(--padding);
}

/* Button States */
button {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  color: var(--text-color-light);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--hover-color);
}
